<ng-container
  *ngIf="{
    vehiclesRecords: (vehiclesRecords$ | async),
    vehicleToUpdate: (vehicleToUpdate$ | async),
    isSidebarClose: (isSidebarClose$ | async),
    isLoading: (isLoading$ | async),
    typesServices: (typesServices$ | async),
    typesVehicles: (typesVehicles$ | async),
    canCloseModal: (canCloseModal$ | async)
  } as data"
>
  <div
    class="vehicles-records__container"
    [ngClass]="{
      'vehicles-records__container--active': !data.isSidebarClose
    }"
  >
    <div class="vehicles-records__content">
      <parking-vehicles-records-list
        [vehiclesRecords]="data.vehiclesRecords"
        [vehicleToUpdate]="data.vehicleToUpdate"
        [isLoading]="data.isLoading"
        [typesServices]="data.typesServices"
        [typesVehicles]="data.typesVehicles"
        [canCloseModal]="data.canCloseModal"
        (createVehicleRecord)="handleCreateVehicleRecord($event)"
        (updateVehicleRecord)="handleUpdateVehicleRecord($event)"
        (deleteVehicleRecord)="handleDeleteVehicleRecord($event)"
        (loadVehicleRecordToUpdate)="handleLoadVehicleRecordToUpdate($event)"
      ></parking-vehicles-records-list>
    </div>
  </div>
</ng-container>
