<ng-container
  *ngIf="{
    vehicles: (vehicles$ | async),
    isSidebarClose: (isSidebarClose$ | async),
    isLoading: (isLoading$ | async)
  } as data"
>
  <div
    class="vehicle-registration__container"
    [ngClass]="{
      'vehicle-registration__container--active': !data.isSidebarClose
    }"
  >
    <div class="vehicle-registration__content">
      <app-vehicle-registration
        [vehicles]="data.vehicles"
        [isLoading]="data.isLoading"
      ></app-vehicle-registration>
    </div>
  </div>
</ng-container>
