<form class="form-vehicle-record" [formGroup]="form.formGroup">
  <fieldset class="form-vehicle-record__section">
    <parking-sub-form-select
      [label]="'Tipo de Servicio'"
      [options]="typesServices"
      [icon]="'objects-horizontal-left'"
      [formControlName]="form.formControlNames.typeService"
    ></parking-sub-form-select>

    <parking-sub-form-select
      [label]="'Tipo de Vehículo'"
      [options]="typesVehicles"
      [icon]="'car'"
      [formControlName]="form.formControlNames.typeVehicle"
    ></parking-sub-form-select>
  </fieldset>

  <fieldset class="form-vehicle-record__section">
    <parking-sub-form-input
      [type]="'input'"
      [label]="'Placa'"
      [icon]="'data'"
      [formControlName]="form.formControlNames.plate"
    ></parking-sub-form-input>

    <parking-sub-form-input
      [type]="'input'"
      [label]="'Nombre del Propietario'"
      [icon]="'user'"
      [formControlName]="form.formControlNames.ownerName"
    ></parking-sub-form-input>
  </fieldset>

  <fieldset class="form-vehicle-record__section">
    <parking-sub-form-input
      [type]="'input'"
      [label]="'Número del Propietario'"
      [icon]="'phone-call'"
      [formControlName]="form.formControlNames.ownerNumber"
    ></parking-sub-form-input>

    <parking-sub-form-date
      [label]="'Fecha de Ingreso'"
      [icon]="'calendar'"
      [isEntryDate]="true"
      [formControlName]="form.formControlNames.entryDate"
    ></parking-sub-form-date>
  </fieldset>

  <fieldset class="form-vehicle-record__section">
    <parking-sub-form-date
      [label]="'Fecha de Salida'"
      [icon]="'calendar'"
      [isEntryDate]="false"
      [formControlName]="form.formControlNames.departureDate"
    ></parking-sub-form-date>

    <parking-sub-form-input
      [type]="'number'"
      [label]="'Valor a cobrar'"
      [icon]="'wallet-alt'"
      [formControlName]="form.formControlNames.receivableValue"
    ></parking-sub-form-input>
  </fieldset>

  <fieldset class="form-vehicle-record__section">
    <parking-sub-form-input
      [type]="'number'"
      [label]="'Abono'"
      [icon]="'wallet-alt'"
      [formControlName]="form.formControlNames.moneyPaid"
    ></parking-sub-form-input>

    <parking-sub-form-input
      [type]="'number'"
      [label]="'Restante'"
      [icon]="'wallet-alt'"
      [formControlName]="form.formControlNames.remainigMoney"
    ></parking-sub-form-input>
  </fieldset>

  <parking-button
    [label]="'Guardar'"
    [type]="'static'"
    [position]="'end'"
    [isDisabled]="form.formGroup.invalid || form.formGroup.disabled"
    (clicked)="manualSave$.next()"
  ></parking-button>
</form>
