<div class="sub-form-input" [formGroup]="form.formGroup">
  <label class="sub-form-input__label" [for]="uniqueId">
    <parking-icon
      *ngIf="!!icon"
      class="sub-form-input__icon {{ icon }}"
      [icon]="icon"
    ></parking-icon>

    <div class="sub-form-input__text">
      <parking-text
        [type]="'text'"
        [size]="'small'"
        [weight]="'bold'"
        [text]="label"
      ></parking-text>
      <input
        class="sub-form-input__input"
        [id]="uniqueId"
        [formControlName]="form.formControlNames.value"
        [type]="type"
        [placeholder]="placeholder ?? ''"
        (keypress)="handleKeypress($event.key)"
        (focus)="handleFocus($event.target)"
        (blur)="handleBlur()"
      />
    </div>
  </label>
</div>
