@use "../../_styles/index.scss" as styles;

.modal {
  background-color: styles.$color-opacity-dark;
  z-index: styles.$box-z-13;
  display: grid;
  inset: 0;
  place-items: center;
  position: fixed;

  &__card {
    @include styles.animation-scale-up-top;
    max-width: styles.$box-wth-modal-mobile;
    height: auto;
    position: relative;
  }

  &__close {
    right: 0;
    position: absolute;
    top: 0;
    padding: styles.$box-pad-base;
  }

  &__content {
    height: auto;
    margin-top: styles.$box-mrg-onehalf;
    overflow-y: auto;
    position: relative;
    padding: styles.func-toRem(0.625);

    &::-webkit-scrollbar {
      width: 0.4rem;
      height: 0.4rem;
      background: #d9d9d9;

      &-thumb {
        background: styles.$color-bg-blue-ligth;
        border-radius: 0.5rem;
      }
    }

    &::before,
    &::after {
      height: styles.$box-hht-onehalf;
      content: "";
      display: block;
      position: sticky;
      width: 100%;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
      transform: rotate(180deg);
    }

    &--auto {
      height: auto;
    }
  }
}

@media (min-width: styles.$bkp-desktop) {
  .ui-modal {
    &__card {
      max-width: styles.$box-wth-modal;
    }
  }
}
