<div class="vehicles-records__wrapper">
  <div class="vehicles-records__header">
    <parking-text
      [text]="'Registros'"
      [weight]="'bold'"
      [size]="'medium'"
      [color]="'white'"
    ></parking-text>
    <div class="vehicles-records__header-right">
      <parking-form-search
        (formUpdate)="handleFilterVehiclesRecords($event, true)"
      ></parking-form-search>
      <parking-button
        [type]="'static'"
        [display]="'inline'"
        [icon]="'plus-circle'"
        [label]="'Registrar nuevo vehículo'"
        (clicked)="modalRef.toggle()"
      ></parking-button>
      <parking-button
        *ngIf="showButtonToDeleteAllVehiclesAlreadyPaid"
        [type]="'static'"
        [display]="'inline'"
        [icon]="'trash-alt'"
        [label]="'Eliminar todos los registros ya pagados'"
        (clicked)="modalDeleteAllRef.toggle()"
      ></parking-button>
    </div>
  </div>

  <parking-table
    [headers]="[
      ['Placa', '4rem'],
      ['Nombre', '4rem'],
      ['Fecha de Ingreso', '4rem'],
      ['Fecha de Salida', '4rem'],
      ['Tipo de Servicio', '4rem'],
      ['Estado del Servicio', '4rem'],
      ['Acciones', '2rem']
    ]"
    [items]="vehiclesRecords || []"
    [itemTemplateRef]="vehiclesRecordsTemplate"
    [isLoading]="isLoading"
  ></parking-table>

  <parking-pagination
    *ngIf="pages > 1"
    [totalPages]="pages"
    [currentPage]="filter.currentPage"
    (changePage)="handleFilterVehiclesRecords($event, false)"
  ></parking-pagination>
</div>

<ng-template #vehiclesRecordsTemplate let-vehicle="item" let-index="index">
  <td class="vehicles-records__td">
    <parking-text
      [text]="vehicle?.plate"
      [weight]="'bold'"
      [size]="'base'"
      [color]="'white'"
    ></parking-text>
  </td>
  <td class="vehicles-records__td">
    <parking-text
      [text]="vehicle?.ownerName"
      [weight]="'bold'"
      [size]="'base'"
      [color]="'white'"
    ></parking-text>
  </td>
  <td class="vehicles-records__td">
    <parking-text
      [text]="vehicle?.entryDate | date : 'dd-MM-yyyy'"
      [weight]="'bold'"
      [size]="'base'"
      [color]="'white'"
    ></parking-text>
  </td>
  <td class="vehicles-records__td">
    <parking-text
      [text]="vehicle?.departureDate | date : 'dd-MM-yyyy'"
      [weight]="'bold'"
      [size]="'base'"
      [color]="'white'"
    ></parking-text>
  </td>
  <td class="vehicles-records__td">
    <parking-text
      [text]="vehicle?.typeService"
      [weight]="'bold'"
      [size]="'base'"
      [color]="'white'"
    ></parking-text>
  </td>
  <td class="vehicles-records__td">
    <parking-text
      [text]="vehicle?.serviceState"
      [weight]="'bold'"
      [size]="'base'"
      [color]="'white'"
    ></parking-text>
  </td>

  <td class="vehicles-records__td vehicles-records__td--buttons">
    <parking-button
      [display]="'block'"
      [icon]="'edit'"
      [type]="'static'"
      [isDisabled]="vehicle?.serviceState === 'PAGADO' ? true : false"
      (clicked)="
        handleLoadVehicleRecordToUpdate(vehicle._id); modalUpdateRef.toggle()
      "
    ></parking-button>
    <parking-button
      [display]="'block'"
      [icon]="'trash-alt'"
      [type]="'static'"
      (clicked)="modalDeleteRef.toggle(); setVehicleRecordId(vehicle._id)"
    ></parking-button>
  </td>
</ng-template>

<parking-modal #modalRef>
  <ng-container>
    <parking-form-vehicle
      #formVehicleRef
      [canResetForm]="canCloseModal"
      [typesServices]="typesServices"
      [typesVehicles]="typesVehicles"
      (dataOutput)="handleCreateVehicleRecord($event)"
    ></parking-form-vehicle>
  </ng-container>
</parking-modal>

<parking-modal #modalUpdateRef>
  <ng-container>
    <parking-form-vehicle
      [dataInput]="vehicleToUpdate"
      [canResetForm]="canCloseModal"
      [typesServices]="typesServices"
      [typesVehicles]="typesVehicles"
      (dataOutput)="handleUpdateVehicleRecord($event)"
    ></parking-form-vehicle>
  </ng-container>
</parking-modal>

<parking-modal #modalDeleteRef [auto]="true">
  <ng-container>
    <parking-text
      [text]="'¿Estás seguro de que deseas eliminar este registro?'"
      [weight]="'bold'"
      [size]="'medium'"
      [color]="'white'"
    ></parking-text>
    <parking-button
      class="vehicles-records__button"
      [label]="'Eliminar'"
      [type]="'static'"
      (clicked)="modalDeleteRef.toggle(); handleDeleteVehicleRecord()"
    ></parking-button>
  </ng-container>
</parking-modal>

<parking-modal #modalDeleteAllRef [auto]="true">
  <ng-container>
    <parking-text
      [text]="
        '¿Estás seguro de que deseas eliminar todos los registros ya pagados?'
      "
      [weight]="'bold'"
      [size]="'medium'"
      [color]="'white'"
    ></parking-text>
    <parking-button
      class="vehicles-records__button"
      [label]="'Eliminar'"
      [type]="'static'"
      (clicked)="
        modalDeleteAllRef.toggle(); handleDeleteAlreadyPaidVehiclesRecords()
      "
    ></parking-button>
  </ng-container>
</parking-modal>
