<ng-container
  *ngIf="{
    changesHistory: (changesHistory$ | async),
    changeToView$: (changeToView$ | async),
    isSidebarClose: (isSidebarClose$ | async),
    isLoading: (isLoading$ | async),
    canCloseModal: (canCloseModal$ | async)
  } as data"
>
  <div
    class="changes-history__container"
    [ngClass]="{
      'changes-history__container--active': !data.isSidebarClose
    }"
  >
    <div class="changes-history__content">
      <parking-changes-history-list
        [changesHistory]="data.changesHistory"
        [changeToView]="data.changesHistory"
        [isLoading]="data.isLoading"
        [isSidebarClose]="data.isSidebarClose"
        [canCloseModal]="data.canCloseModal"
      ></parking-changes-history-list>
    </div>
  </div>
</ng-container>
