@use "../../../ui/_styles/index.scss" as styles;

.changes-history {
  position: relative;
  width: styles.$box-wth-block;

  &__container {
    position: absolute;
    width: calc(100% - 250px);
    left: styles.func-toRem(15.625);
    min-height: 100vh;
    transition: 0.5s;

    &--active {
      width: calc(100% - 60px);
      left: styles.func-toRem(3.75);
    }
  }

  &__content {
    position: relative;
    width: styles.$box-wth-block;
    padding: styles.func-toRem(1.25);
    margin-top: styles.func-toRem(1.563);
    padding-top: styles.$box-pad-none;
  }
}

@media (max-width: 992px) {
  .changes-history {
    &__container {
      width: styles.$box-wth-block;
      left: styles.$box-pad-none;

      &--active {
        width: calc(100% - 300px);
        left: styles.func-toRem(18.75);
      }
    }
  }
}

@media (max-width: 480px) {
  .changes-history {
    &__container {
      &--active {
        width: styles.$box-wth-block;
        left: styles.$box-pad-none;
      }
    }
  }
}
