<div class="sub-form-date" [formGroup]="form.formGroup">
  <label class="sub-form-date__label">
    <parking-icon
      *ngIf="!!icon"
      class="sub-form-date__icon {{ icon }}"
      [icon]="icon"
    ></parking-icon>

    <div class="sub-form-date__text">
      <parking-text
        [type]="'text'"
        [size]="'small'"
        [weight]="'bold'"
        [text]="label"
      ></parking-text>

      <div class="sub-form-date__inputs">
        <input
          class="sub-form-date__input"
          [type]="'text'"
          [placeholder]="'Día..'"
          [maxlength]="2"
          [formControlName]="form.formControlNames.day"
          (keypress)="handleKeypress($event.key)"
          (focus)="handleFocus()"
          (blur)="handleBlur()"
        />
        <input
          class="sub-form-date__input"
          [type]="'text'"
          [placeholder]="'Mes..'"
          [maxlength]="2"
          [formControlName]="form.formControlNames.month"
          (keypress)="handleKeypress($event.key)"
          (focus)="handleFocus()"
          (blur)="handleBlur()"
        />
        <input
          class="sub-form-date__input"
          [type]="'text'"
          [placeholder]="'Año..'"
          [maxlength]="4"
          [minlength]="4"
          [formControlName]="form.formControlNames.year"
          (keypress)="handleKeypress($event.key)"
          (focus)="handleFocus()"
          (blur)="handleBlur()"
        />
      </div>
    </div>
  </label>
</div>
