<nav class="navbar__container">
  <ul class="navbar__list">
    <li class="navbar__item navbar__item--main">
      <a class="navbar__link">
        <span class="navbar__icon"><i class="fas fa-home"></i></span>
        <span class="navbar__text">Parking</span>
      </a>
    </li>

    <li class="navbar__item">
      <a class="navbar__link" routerLink="['/history']">
        <span class="navbar__icon"><i class="fas fa-project-diagram"></i></span>
        <span class="navbar__text">History</span>
      </a>
    </li>
  </ul>
</nav>
