<div class="vehicle-registration__wrapper">
  <div class="vehicle-registration__header">
    <parking-text
      [text]="'Registros'"
      [weight]="'bold'"
      [size]="'medium'"
      [color]="'white'"
    ></parking-text>
    <parking-button
      [type]="'static'"
      [display]="'inline'"
      [icon]="'plus-circle'"
      [label]="'Registrar nuevo vehículo'"
      (clicked)="modalRef.toggle()"
    ></parking-button>
  </div>

  <parking-table
    [headers]="[
      ['Placa', '4rem'],
      ['Fecha de Ingreso', '4rem'],
      ['Fecha de Vencimiento', '4rem'],
      ['Typo de Servicio', '4rem'],
      ['Estado del Servicio', '4rem'],
      ['Acciones', '2rem']
    ]"
    [items]="vehicles || []"
    [itemTemplateRef]="vehiclesRegistrationTemplate"
    [isLoading]="isLoading"
  ></parking-table>
</div>

<ng-template #vehiclesRegistrationTemplate let-vehicle="item" let-index="index">
  <td class="vehicle-registration__td">
    <parking-text
      [text]="vehicle?.plate"
      [weight]="'bold'"
      [size]="'base'"
      [color]="'white'"
    ></parking-text>
  </td>
  <td class="vehicle-registration__td">
    <parking-text
      [type]="'date'"
      [text]="vehicle?.entryDate"
      [weight]="'bold'"
      [size]="'base'"
      [color]="'white'"
    ></parking-text>
  </td>
  <td class="vehicle-registration__td">
    <parking-text
      [type]="'date'"
      [text]="vehicle?.departureDate"
      [weight]="'bold'"
      [size]="'base'"
      [color]="'white'"
    ></parking-text>
  </td>
  <td class="vehicle-registration__td">
    <parking-text
      [text]="vehicle?.typeService"
      [weight]="'bold'"
      [size]="'base'"
      [color]="'white'"
    ></parking-text>
  </td>
  <td class="vehicle-registration__td">
    <parking-text
      [text]="vehicle?.serviceState"
      [weight]="'bold'"
      [size]="'base'"
      [color]="'white'"
    ></parking-text>
  </td>

  <td class="vehicle-registration__td vehicle-registration__td--buttons">
    <parking-button
      [display]="'block'"
      [icon]="'edit'"
      [type]="'static'"
      (clicked)="handleLoadVehicleToUpdate(vehicle.id); modalUpdateRef.toggle()"
    ></parking-button>
    <parking-button
      [display]="'block'"
      [icon]="'trash-alt'"
      [type]="'static'"
      (clicked)="modalDeleteRef.toggle()"
    ></parking-button>
  </td>
</ng-template>

<parking-modal #modalRef>
  <ng-container>
    <!-- <parking-form-vehicle
      [canResetForm]="canCloseModal"
      (dataOutput)="handleCreateVehicle($event)"
    ></parking-form-vehicle> -->
  </ng-container>
</parking-modal>

<parking-modal #modalUpdateRef>
  <ng-container>
    <!-- <parking-form-vehicle
      [dataInput]="channelToUpdate"
      [canResetForm]="canCloseModal"
      (dataOutput)="handleUpdateChannel($event)"
    ></parking-form-vehicle> -->
  </ng-container>
</parking-modal>

<parking-modal #modalDeleteRef [auto]="true">
  <ng-container>
    <parking-text
      [text]="'¿Estás seguro de que deseas eliminar este comunicado?'"
      [weight]="'bold'"
      [size]="'medium'"
    ></parking-text>
    <parking-button
      class="vehicle-registration__button"
      [label]="'Eliminar'"
      [type]="'static'"
      (clicked)="modalDeleteRef.toggle(); handleDeleteVehicle()"
    ></parking-button>
  </ng-container>
</parking-modal>
