<nav class="navbar__container">
  <ul class="navbar__list">
    <li class="navbar__item navbar__item--main">
      <a class="navbar__link" (click)="toggleMenu()">
        <span class="navbar__icon"><i [class]="collapsedIconClass"></i></span>
      </a>
    </li>

    <li class="navbar__item">
      <a class="navbar__link">
        <span class="navbar__icon"><i class="fas fa-home"></i></span>
        <span class="navbar__text">Inicio</span>
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link">
        <span class="navbar__icon"><i class="fa fa-pencil-square-o"></i></span>
        <span class="navbar__text">Registrar</span>
      </a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link">
        <span class="navbar__icon"><i class="fas fa-hourglass"></i></span>
        <span class="navbar__text">Historial</span>
      </a>
    </li>
  </ul>
</nav>
