@use "../../_styles/index.scss" as styles;

.navbar {
  &__container {
    position: fixed;
    width: 15%;
    height: styles.$box-hht-block;
    transition: 0.5s;
    overflow: hidden;
    background-image: linear-gradient(
      rgba(56, 139, 253, 0.1),
      rgba(56, 139, 253, 0.1)
    );

    &--active {
      width: styles.func-toRem(3.75);
    }
  }

  &__list {
    position: absolute;
    top: 0;
    left: 0;
    width: styles.$box-wth-block;
  }

  &__item {
    position: relative;
    width: styles.$box-wth-block;
    list-style: none;
    transition: 0.2s ease-in-out;

    &:hover {
      background: styles.$color-bg-blue-ligth;
    }

    &--main {
      font-size: styles.func-toRem(1.25);
      margin-bottom: styles.func-toRem(1.25);
    }

    &--main:hover {
      background: styles.$color-bg-transparent;
    }
  }

  &__link {
    cursor: pointer;
    position: relative;
    display: block;
    width: styles.$box-wth-block;
    display: flex;
    text-decoration: none;
    color: styles.$color-bg-white;
  }

  &__icon {
    position: relative;
    display: block;
    min-width: styles.func-toRem(3.75);
    height: styles.func-toRem(3.75);
    line-height: styles.func-toRem(3.75);
    text-align: center;
  }

  &__text {
    position: relative;
    display: block;
    padding: styles.$box-pad-none styles.func-toRem(0.625);
    height: styles.func-toRem(3.75);
    line-height: styles.func-toRem(3.75);
    white-space: nowrap;
  }
}

@media (max-width: 992px) {
  .navbar {
    &__container {
      left: -300px;

      &--active {
        left: styles.$box-mrg-none;
        width: styles.func-toRem(18.75);
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    &__container {
      width: styles.$box-wth-block;
      left: -100%;
      z-index: styles.$box-z-13;
      background: linear-gradient(
        styles.$color-bg-black-alt,
        styles.$color-typo-base
      );

      &--active {
        left: styles.$box-mrg-none;
        width: styles.$box-wth-block;
      }
    }
  }
}
