<nav
  class="navbar__container"
  [ngClass]="{ 'navbar__container--active': !isSidebarClose }"
>
  <ul class="navbar__list">
    <li class="navbar__item navbar__item--main" (click)="handleToggleMenu()">
      <parking-icon [icon]="iconItemMain"></parking-icon>
    </li>

    <li class="navbar__item" id="navbar__item--home" (click)="changePage('')">
      <parking-icon [icon]="'home-alt-2'"></parking-icon>
      <parking-text
        [text]="'Inicio'"
        [weight]="'bold'"
        [size]="'medium'"
        [color]="'white'"
      ></parking-text>
    </li>

    <li
      class="navbar__item"
      id="navbar__item--history"
      (click)="changePage('history')"
    >
      <parking-icon [icon]="'hourglass'"></parking-icon>
      <parking-text
        [text]="'Historial'"
        [weight]="'bold'"
        [size]="'medium'"
        [color]="'white'"
      ></parking-text>
    </li>
  </ul>
</nav>
